<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <title>L8r | Store your tweets for a later day</title>
  </head>
  <body>
    <div id="app">
      <div class="status">
        <div class="tweet-content">
          <img :src="sourceImg" class="logo" alt="Party on Mars twitter" />
          <div class="tweet">
            <a href="https://twitter.com/PartyOnMars_">🌕 </a>
            <span>@PartyOnMars_ ·{{ getTimestamp }}</span>
            <p class="tweet-text">Hello, World!</p>
            <div class="reactions">
              <span class="like" v-if="liked" @click="like">💖</span>
              <span class="like" v-else @click="like">
                <span> ♡ </span>
              </span>
            </div>
          </div>
        </div>
        <div class="comment-bar">
          <textarea
            placeholder="tweet your reply"
            v-model="tweetCharacters"
            @keyup="checkTweetLength"
          ></textarea>
          <span class="characters-remaining">
            {{ remainingCharacters }} characters remaining
            <button @click="addTweet">Add Tweet</button>
          </span>
        </div>
      </div>
      <ul>
        <li class="tweet-list" v-for="tweet in tweets" :id="tweet.id">
          <div>
            <div class="tweet-content">
              <img
                :src="sourceImg"
                class="logo small-img"
                alt="Party on Mars twitter"
              />
              <div class="tweet">
                <a href="https://twitter.com/PartyOnMars_">🌕 </a>
                <span>@PartyOnMars_ ·{{ getTimestamp }}</span>
                <p class="tweet-text">{{ tweet.value }}</p>
              </div>
              <div class="clipboard" @click="clipItem">
                <i class="fas fa-clipboard"></i>
              </div>
              <div class="delete-button">
                <i class="fas fa-times" @click="removeItem"></i>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <transition name="dialog">
        <div class="clipboard-status" v-if="clipped"> 
          <p> 🌟  Tweet has been added to clipboard</p>
        </div>
    </transition>
    </div>
  </body>

  <!-- ♡ -->

  <script src="./app.js"></script>
</html>
